@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Rajdhani", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  margin: 0 auto;
  /* background-color: #0099ff; */
}
.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
  padding: 4rem 0rem 2rem;
}
.app__logo {
  object-fit: contain;
  width: 16rem;
  height: 2.8rem;
}
.app__results {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 12rem;
}
.giphy__logo {
  object-fit: contain;
  width: 16rem;
  height: 2.8rem;
}
/* Media Queries */
@media (max-width: 906px) {
  .app__results {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 4rem;
  }
}
@media (max-width: 728px) {
  .app__results {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 0 2rem;
  }
}

/* Pagination */
/* .pagination {
  display: flex;
  list-style: none;
  outline: none;
}
.pagination a {
  border: 1px solid white;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
}
.pagination a,
.pagination span {
  color: white;
  background-color: #324960;
}
.pagination a:hover {
  background-color: #4fc3a1;
  color: white;
  transition-duration: 0.1s;
}
.pagination a:active {
  background-color: #324960;
} */
